body {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: azure;
    background: url('../images/bg-intro-desktop.png');
    background-repeat: repeat;
    background-size: cover;
    margin: 0;
}

main {
    background-color: hsla(0, 100%, 74%, .6);
    padding: 50px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.half {
    width: 50%;
    padding: 30px;
}

.btn-cont a.block {
    display: block;
    text-decoration: none;
    background-color: hsl(248, 32%, 49%);
    padding: 20px 25px;
    text-align: center;
    border-radius: .5em;
    border: 1px solid hsl(249, 10%, 26%);
    box-shadow: 0px 5px 3px hsla(0, 100%, 74%, .8);
}

.btn-cont a.block span.bright {
    font-weight: 600;
    color: white;
}
.btn-cont a.block span.greyish {
    font-weight: 400;
    color: lightgrey;
}


/* Form stylng */
.form-cont {
    margin-top: 20px;
    padding: 35px;
    background-color: white;
    border-radius: .5em;
    box-shadow: 0px 5px 3px hsla(0, 100%, 74%, .8);
}

.form-cont input {
    padding: 15px 25px;
    margin-bottom: 20px;
    display: inline-block;
    width: 87%;
    border-radius: .3em;
    border: none;
    outline: 1px solid lightgrey;
    font-weight: 500;
}

.form-cont input:hover, .form-cont input:focus {
    outline: 2px solid lightgrey;
}

#submit-btn {
    width: 99%;
    background-color: hsl(154, 59%, 51%);
    outline: 2px solid hsl(153, 60%, 33%);
    color: white;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 0;
}

.form-cont p {
    font-weight: 400;
    color: lightgrey;
    text-align: center;
}

.form-cont a.red {
    text-decoration: none;
    color: hsl(0, 100%, 74%);
    font-weight: 600;
}


/* Media query */
@media (max-width:768px) {
    .container {
        flex-wrap: wrap;
    }

    .half {
        width: 100%;
    }

    .form-cont {
        padding: 25px;
    }

    .details {
        text-align: center;
    }
}
